@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.inset-card-image {
  display: block;
  object-fit: cover;
  width: 100%;
}

.collapsible {
  transition: all 0.2s ease;
  transform-origin: top;
}
.collapsible.open {
  transform: scaleY(1);
  opacity: 1;
  height: 34rem;
}
.collapsible.close {
  transform: scaleY(0);
  opacity: 0;
  height: 0;
}
